@font-face {
    font-family:'Open Sans', Sans-Serif;
    src: url('http://fonts.googleapis.com/css?family=Open+Sans:300');
}

body {
	font-family:'Open Sans', Sans-Serif;
	overflow-y: scroll;
}

.node text{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

#sentence_form{
	position: fixed;
	width: 25%;
	border-radius: 4px;
	background-color: gainsboro;
  	z-index: 10;
  	opacity: 0.1;
}

#sentence_form:hover{
	opacity: 1;	
}

textarea{
	display:block;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	resize: none;
	width: 97%;
}

legend{
  background-color: gainsboro;
  padding: 4px;
  border-left: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
  color: rgb(32,32,32);
}

#clear {
	float: left;
}

#text{
	float: right;
}

#analyze {
	float: right;
}

